.row
  .col-md-4
    p.lead Full Featured CLI
    p Tempus is developer driven and having a command line interface
      | makes for simple time recording.

  .col-md-4
    p.lead Easy Exporting
    p The data is yours. Take it where ever you want. Lots of integrations
      |, JSON and CSV dumps, or write your own consumer.

  .col-md-4
    p.lead Other CLIs
    p Tempus doesn't want to interrupt your time tracking work-flow. If you
      | have a CLI you like, we want to consume its output.
