footer.navbar.navbar-fixed-bottom
  div.row
    ul.nav.navbar-nav
      li
        a(href='/blog') Blog
      li
        a(href='/docs') Documentation
      li
        a(href='/privacy') Privacy
      li
        a(href='/terms') Terms
