extends layout

block content
  .row
    p.lead Time is wasting away... Find a page that works.
    img(src="/assets/img/Dali.jpg", height="75%", width="100%")
    p.muted Salvador Dalí, The Persistence of Memory, 1931, oil on
      | canvas, 9 ½” x 13", Museum of Modern Art, New York. Image
      | from Koiart71 (Flickr) available under a Creative Commons
      | Attribution-No Derivatives License.
