doctype html
html
  head
    title= title
    != css("bootstrap")
    != css("main")
  body
    include includes/navigation
    div.body-container.container
      block content
    include includes/footer
