@squeeze: 150px;
@menu-color: black;

.navbar {
  padding-right: @squeeze;
  padding-left: @squeeze;
  background-color: @menu-color;
}

.body-container {
  padding-top: 60px;
  padding-right: @squeeze;
  padding-left: @squeeze;
}
